<h1>Multiplication</h1>

<dl>

  <dt>First number</dt>
  <dd><%= @num1 %></dd>

  <dt>Second number</dt>
  <dd><%= @num2 %></dd>

  <dt>Result</dt>
  <dd><%= @result_multiply %></dd>

</dl>

<a href="/multiply">Do another multiplication</a>