<h1>New multiplication</h1>

<form action="/multiply/results">

<label for="multiply1">Multiply this:</label>
<input id="multiply1" type="text" name="num1">

<label for="multiply2">by this:</label>
<input id="multiply2" type="text" name="num2">

<button>Multiply!</button>
</form>